@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    min-height: 100%;
}

/* font-family and background image */
body {
    font-family: 'Hind', sans-serif;
    margin: 0;
    background-image: url("../images/world-cup-background.jpg");

}

/* positioning the header and applying fixed height */

header {
    margin-top: 50px;
    height: 100px;
}

:root {
    --search-box-height: 40px;
    --content-max-width: 600px;
}

